<?xml version="1.0"?>
<robot name="cylinder_obstacle"> <!-- simple obstacle-->
  <link name="obstacle_base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.4" radius="0.5"/>
      </geometry>
      <material name="Red">
        <color rgba="0.8 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.4" radius="0.5"/>
      </geometry>
    </collision>
  </link>

  <!-- second optional cylinder -->
  <joint name="j_second_cylinder" type="fixed">
    <parent link="obstacle_base"/>
    <child link="l_second_cylinder"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="l_second_cylinder"> 
    <visual>
      <origin xyz="-3 2 0"/>
      <geometry>
        <cylinder length="0.4" radius="1."/>
      </geometry>
      <material name="Red">
        <color rgba="0.8 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-3 2 0"/>
      <geometry>
        <cylinder length="0.4" radius="1."/>
      </geometry>
    </collision>
  </link>
</robot>
